.Switcher {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Switcher span,
.Switcher p {
  color: #4b5563e6;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 45px;
}
.Switcher p:hover {
  cursor: pointer;
}
